* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}
/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =================== common =================== */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  line-height: 48px;
  font-weight: 700;
  font-size: 3.8rem;
  letter-spacing: -0.76px;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* =================== header =================== */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1; /*để chữ lesson ko có bị nằm dưới tấm hình*/
}
.header .body {
  display: flex;
  /* justify-content: start; tuân theo main axis */
  align-items: center;
  padding: 36px 0px 8px;
  overflow: auto; /*thanh cuộn + text ko vượt quá khối box*/
}
.nav {
  margin-left: auto;
}
.nav ul {
  /* thoát ra khỏi luồng thông thường, cho nó nằm ngang ra*/
  display: flex;
  /* display: inline-flex; như nhau */
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /*tô đậm chữ*/
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  /*lớp giả after, before là inline, khi set height, width ko có tác dụng, phải đổi sang display: block*/
  content: "";
  position: absolute;
  display: block;
  /* display: inline-block; */
  /* ấy dấu gạch chân */
  left: 21px;
  bottom: 6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.btn {
  /* class .btn trong thẻ a, mà mặc định thẻ a là display inline, phải chuyển sang display: block để có thể thêm padding vào */
  /* display block, display inline... (1 số thuộc tính ko áp dụng được như padding, margin top, bottom - nghĩa là nó ko thể phá vỡ cấu trúc dòng) */
  display: block;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  font-weight: 600px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #171100;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.8; /*độ mờ*/
  cursor: pointer;
}

.header .signup {
  /* lưu ý dấu cách giữa 2 class */
  min-width: 144px;
}
.header .action {
  /* lưu ý dấu cách giữa 2 class */
  margin-left: 49px;
}

/* =================== hero =================== */

.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* ========== hero left ========== */

.hero .media-block {
  width: 48%; /*570 chia 1170*/
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  /* ko bị vỡ ảnh */
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background-color: #fff;
  width: 270px;
  /* height: 244px; */
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  /* cho icon và phần text bên phải căn giữa theo trục cross */
  align-items: center;
}

/* tác động vào item nằm đằng sau item khác */
.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  /* ô vuông */
  width: 48px;
  height: 48px;
  /* trong ô vuông có hình tròn */
  border-radius: 50%;
  /* căn icon vào tâm hình tròn  */
  /* nhưng trước khi căn đc phải display flex */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 2.6rem; /*đo đc là 26px, 26 chia 14 = 185.714%*/
}

.hero-summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  /* font weight dùng tô đậm chữ, nhưng làm sao để biết font weight này???, nó là semibold */
  font-weight: 600;
  line-height: 3rem;
  /* đo đc là 30px, 30 chia 18 = 166.67% */
}

/* ========== hero right ========== */
.hero .content-block {
  width: 52%; /*100% - 48%*/
  padding-left: 130px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  line-height: 6.8rem; /* 117.24% */
  font-weight: 700;
  /* 214 - 150, đo từ cạnh trên img hero tới trên cùng = 150, đo từ heading tới trên cùng 214 =>>biết đc từ heading tới block hero (cũng là cạnh trên img hero = bn  */
  /* Khoảng cách giữa các ký tự */
  letter-spacing: -2px;
}

.hero .desc {
  color: #5f5b53;
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 3rem;
}

.hero .cta-group {
  display: flex;
  margin-top: 38px;
  align-items: center;
}

.hero .hero-cta {
  /* display: block;
  align-items: center; */
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  display: flex; /* df */
  border: none;
  background-color: transparent;
  margin-left: 28px;
  /* align-items: center; */
  cursor: pointer;
  /* thay đổi hình dạng con trỏ chuột khi di chuyển vào phần tử, nút watch video */
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
}

.hero .watch-video span {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-left: 14px;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  line-height: 1.23; /*54px chia 44px = 1.23*/
  font-weight: 400;
  font-size: 4.4rem;
  margin-right: 15px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* =================== popular =================== */
.popular {
  padding: 65px 0; /*vì 2 bên ôm sát vào nội dung*/
  margin-top: 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between; /*cho 2 phần tử giãn về 2 phía*/
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 3rem; /*1.67*/
}

.popular-top .controls {
  display: flex;
  gap: 18px;
  align-items: center;
}

.popular-top .control-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item {
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e2dfda; /*đường viền*/
}

.popular .course-item:hover {
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid transparent; /*đường viền*/
  box-shadow: 0px 18px 36px 0px #0000000d; /*đổ bóng theo x axis; đổ bóng theo y axis; độ mờ; độ lan; màu bóng*/
}

.popular .course-item .thumb {
  width: 370px;
  height: 278px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover; /*để ảnh ko méo*/
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title {
  color: #171100;
  font-weight: 600;
  line-height: 3rem;
  font-size: 1.8rem;
}

.popular .rating .value {
  margin-left: 6px;
  line-height: 2.8rem;
  font-size: 1.6rem;
  color: #fea31b;
}

.popular .course-item .desc {
  margin-top: 6px;
  line-height: 2.6rem;
  font-size: 1.4rem;
  color: #5f5b53;
}

.popular .course-item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 600;
}

.popular .course-item .btn-book {
  /* Khi vài button, mặc định sẽ có border xung quanh, trước khi xử lý cần xóa đi */
  border: none;
}

.popular .course-item .btn-book:hover {
  background-color: var(--primary-color);
  color: #fff;
}
